
@model CRM.Models.Contact

@{
    ViewBag.Title = "Create";
}

@*<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>*@


<h2>Создание контакта</h2>

@using (Html.BeginForm("Create", "Contact", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
   @Html.AntiForgeryToken()
   @Html.ValidationSummary(true)
    <fieldset>
        <legend>Добавить контакт</legend>
        <div class="editor-label">Фамилия</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Surname)
            @Html.ValidationMessageFor(model => model.Surname)
        </div>
        <div class="editor-label">Имя</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">Отчество</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MiddleName)
            @Html.ValidationMessageFor(model => model.MiddleName)
        </div>
        <div class="editor-label">Телефон</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
        <div class="editor-label">E-mail</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">Фото профиля</div>
        <div class="editor-field">
            <input type="file" name="uploadImage" />
        </div>
        @Html.HiddenFor(model => model.CompanyId, new { data_company_id = string.Empty })
        <input type="text" name="name" id="searchTerm" data-autocomplete-source='@Url.Action("GetSearchValue", "Company")' />
        @*<div>
            <label>Компания</label>
            <input class="form-control" id="searсhInput" />
        </div>*@
        <div>
            
        </div>
        
            <p>
                <input type="submit" value="Создать" />
            </p>
       
    </fieldset>
}
@*<input type="text" name="name" data-autocomplete-source='@Url.Action("GetSearchValue", "Company")' />*@
@*<script type="text/javascript">
    $(function () {
        $("[data-autocomplete-source]").each(function () {
            var target = $(this);
            target.autocomplete({ source: target.attr("data-autocomplete-source") });
        });
    });
</script>*@
<script type="text/javascript">
    $(function () {
        $("[data-autocomplete-source]").each(function () {
            var target = $(this);
            target.autocomplete({
                source: target.attr("data-autocomplete-source"),
                //response: function (event, ui) {
                //    ui.content.forEach(function (item) {
                //        item.value = item.Name; // У вас с большой буквы Name
                //        item.label = item.Name; // У вас с большой буквы Name
                //    })
                //},
                select: function (event, ui) {
                    //$('input[data-company-id]').val(ui.item.value);
                    $('input[data-company-id]').val(ui.item.Id);
                    
                    
                }
            });
        })
    });
</script>

<div>
    @Html.ActionLink("Вернуться к списку контактов", "Index")
</div>

@*<form action="/Search/ProcessTheForm" method="post">
    <input id="searchTerm" name="searchTerm" type="text" />
    <input type="submit" value="Go" />
</form>*@
@*<input id="searchTerm" name="searchTerm" type="text" />
<script type="text/javascript">
    $(function () {
        $("#searchTerm").autocomplete({
            source: "/Company/GetSearchValue",
            //minLength: 3,
            select: function (event, ui) {
                if (ui.item) {
                    $("#searchTerm").val(ui.item.value);
                  
                    //$("form").submit(); выбрать значение и сразу отправить форму
                }
            }
        });
    });
</script>*@







@*работает*@
@*<label for="somevalue">Some value:</label><input autocomplete="off" id="somevalue" name="somevalue" />
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#somevalue').autocomplete({
            source: '@Url.Action("GetSearchValue", "Company")'
        });
    })
</script>*@

@*<input type="text" name="name" data-autocomplete-source='@Url.Action("GetSearchValue", "Company")' />*@
@*<script src="~/scripts/jquery-1.12.4.min.js"></script>
<script src="~/scripts/jquery-ui-1.12.1.min.js"></script>*@
@*<script>
    $(function () {
        $("[data-autocomplete-source]").each(function () {
            var target = $(this);
            target.autocomplete({ source: target.attr("data-autocomplete-source") });
            response: function(event, ui) {
                ui.content.forEach(function (item) {
                    item.value = item.Id;
                    item.label = item.Name;
              })
            }
         });
    });
    

</script>*@

@*<script>
       $(document).ready(function () {
        //$("#searchInput").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Company/GetSearchValue",
                    dataType: "json",
                    type: "POST",
                    data: { search: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name };
                        }));
                    },

                });
            }
        });
    })
</script>*@




























@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
<script>    // 
    $("#searchInput").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("GetSearchValue", "Company")',
                dataType: "json",
                type: "POST",
                data: { search: $("#searchInput").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name, value: item.Name };
                    }));
                },
                error: function (xhr, status, error) {
                    alert("Error");//русский 
                }
            });
        }
    });
</script>*@


